  body {
      font-family: "Merriweather";
  }

  /* shared styles */
  .primary-font {

      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      /* line-height: 32px; */
      letter-spacing: 0%;
      text-align: center;
  }

  .header {
      /* margin: 00 auto; */
  }

  .header-container {
      position: relative;
      width: 100%;
      max-width: 1320px;
      overflow: hidden;
      margin: 00 auto;
      border-radius: 16px;
      /* border: 5px solid lightseagreen; */

  }

  .header-img img {
      width: 100%;
      height: auto;
      display: block;
  }

  .header-content {
      position: absolute;
      top: 00;
      left: 00;
      width: 100%;
      padding: 177px 344px;
      background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(5, 2, 17, 0.03) 100%);
      box-sizing: border-box;
      /* z-index: 1; */
      align-items: center;

  }

  .header-content h1 {
      font-size: 72px;
      font-weight: 900;
      color: rgb(255, 255, 255);
      /* line-height: 95px; */
      text-align: center;
  }

  .header-content p {
      font-size: 32px;
      font-weight: 400;
      color: rgb(255, 255, 255);
      /* line-height: 40px; */
      text-align: center;
  }

  /* herosection starts here  */
  .hero {
      font-family: "Inter";
      margin: 120px auto;
      background: rgb(255, 255, 255);
  }

  .hero-banner {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .hero-banner img {
      width: 800px;
  }

  .hero-banner h1 {
      color: rgb(255, 0, 0);
      font-size: 88px;
      font-weight: 700;
      margin-bottom: 00px;

  }

  .hero-banner p {
      color: rgb(255, 0, 0);
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 00px;

  }

  .hero-banner h3 {
      color: rgb(7, 2, 17);
      font-family: Inter;
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 00px;

  }

  .welcome-container {
      position: relative;
      /* width: 100%; */
      max-width: 1320px;
      overflow: hidden;
      margin: 00 auto;
      border-radius: 16px;
      /* border: 5px solid lightseagreen; */
  }

  .welcome-content {
      position: absolute;
      top: 00;
      left: 00;
      width: 100%;
      /* padding: 177px 344px; */
      /* background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(5, 2, 17, 0.03) 100%); */
      box-sizing: border-box;
      background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
      ;
      /* z-index: 1; */
      align-items: center;
  }

  .welcome-content {
      display: flex;
      align-items: center;
  }

  .welcome-content .text {
      width: 60%;
      padding-top: 80px;
      padding-left: 126px;
  }

  .welcome-content .img {
      width: 40%;
      padding: 68px 108px 68px
  }

  .welcome-content .img img {
      width: 350px;
      height: 465px;
  }

  .welcome-content .text h1 {
      color: rgb(255, 255, 255);
      font-family: Merriweather;
      font-size: 64px;
      font-weight: 900;
      /* line-height: 88px; */
      letter-spacing: 11%;
      text-align: left;
      /* padding-top: 126px; */
      /* padding-left: 126px; */

  }

  .welcome-content .text p {
      color: rgba(255, 255, 255, 0.8);
      font-size: 18px;
      text-align: left;
  }

  /* placesection start here  */
  .place-section {
      max-width: 1320px;
      margin: 100px auto;
  }

  .place {
      max-width: 1320px;
      /* margin: 00 auto; */

      display: flex;
      flex-direction: column;
      padding: 100px 386px 214px 386px;
      border: 2px solid lightseagreen;
      border-radius: 16px;
      background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
      align-items: center;
  }

  .place p {
      font-size: 32px;
      font-weight: 600;
      font-family: "Inter";

  }

  .place p span {
      color: #FF0000;
  }

  /* offer-section start here  */
  .offer-section {
      max-width: 1320px;
      margin: 00 auto;
  }

  .offer-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
  }


  .offer-content {
      width: 30%;
  }

  .offer-content3 {
      width: 20%;
      text-align: left;
  }

  .offer-content-2 {
      width: 365px;
      height: 365px;
      padding: 50px;
      border: 15px solid rgb(255, 0, 0);
      border-radius: 50%;

  }

  .offer-content-2 img {
      width: 365px;
      height: 365px;


  }

  .offer-content h3 {
      font-size: 24px;
      font-weight: 500;
      font-family: "Inter";
      color: #FF0000;
      text-align: left;
  }

  .offer-content h1 {
      color: rgb(7, 2, 17);
      font-family: Merriweather;
      font-size: 48px;
      font-weight: 900;
      line-height: 60px;
      letter-spacing: 0%;
      text-align: left;
      text-transform: capitalize;
  }

  .offer-content p {
      text-align: left;
  }

  .offer-content3 h1 {
      color: #FF0000;
      font-family: Inter;
      font-size: 48px;
      font-weight: 700;
      text-align: left;
  }

  .offer-content3 p {
      text-align: left;
  }

  /* sale section starts here 
  */
  .sale-section {
      max-width: 1320px;
      margin: 100px auto;
      text-align: center;
  }

  .sale-img-container {
      position: relative;
      width: 100%;
      overflow: hidden;
      /* overflow: visible; */
      /* background: radial-gradient(50.00% 50.00% at 50% 50%,rgb(255, 255, 212),rgb(255, 255, 255) 100%) */


  }

  .sale-content h3 {
      color: rgb(7, 2, 17);
      font-family: Inter;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 00px;
  }

  .sale-content h1 {
      color: #FF0000;
      font-size: 72px;
      font-weight: 900;
      margin-bottom: 00px;
  }

  .sale-content h1 span {
      color: #070211;
      font-size: 72px;
      font-weight: 900;

  }

  .sale-content p {
      font-weight: 500;
      text-align: center;
  }

  .sale-img-content {
      display: flex;
      justify-content: space-around;
  }

  .sale-img-container .img {
      position: absolute;
      width: 100%;
      height: auto;
      box-sizing: border-box;
      display: block;
      top: 400px;
      /* overflow: hidden; */
      z-index: -1;
       background: radial-gradient(50.00% 50.00% at 50% 50%,rgb(255, 255, 212),rgb(255, 255, 255) 100%);
    background: rgb(255,255, 255);

    }

  /* portfolio-section start here  */
  .portfolio-section {
      max-width: 1320px;
      margin: 100px auto;
  }

  .portfolio-container {
      text-align: left;
  }

  .portfolio-container h3 {
      color: #FF0000;
      font-size: 24px;
      font-weight: 500;
      font-family: "Inter";
  }

  .portfolio-container h1 {
      font-size: 48px;
      font-weight: 900px;
      color: #070217;

  }

  .portfolio-container p {
      color: rgba(7, 2, 17, 0.6);
      margin-bottom: 50px;
  }

  .portfolio-content {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
  }

  .newsletter-section {
      max-width: 1320px;
      margin: 00 auto;
      /* border: 1px solid lightseagreen; */

      border-radius: 16px;

      background: rgba(255, 0, 0, 0.05);
  }

  .news-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 80px 212px;
  }

  .news-container h1 {
      font-size: 48px;
      font-weight: 900;
      color: #070217;
      text-transform: capitalize;
      text-align: center;
  }

  .news-container .Subscribe {
      /* padding: 2px 3px ; */
      border: 1px solid #FF0000;
      margin-top: 20px;
      width: 680px;
      height: 72px;
      border-radius: 00 50px 50px 00;
      display: block;
      display: flex;
      /* flex-direction: column; */
  }

  .Subscribe input {
      width: 70%;


  }

  .Subscribe button {
      width: 30%;
      border-radius: 0px 50px 50px 0px;

      background: rgb(255, 0, 0);
  }

  /* footer starts header */
  .footer-section{
    background:#070211;
  }
  .footer-section p{
    color: rgb(255, 255, 255);
  }
  .footer-content{
    display: flex;
    justify-content: space-around;
  }
  .media{
    padding: 24px 640px;



    text-align: center;
  }
  .copy{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
  }